:root {
    --primary-color-white: #fff;
    --primary-color-dark-white:#F4F2FF;
    --primary-color-grey: #6E6893;
    --primary-color-light-grey: #F2F0F9;
    --primary-color-dark-grey: #C6C2DE;
    --primary-color-blue:#6D5BD0;
    --primary-color-black: #222;
    --primary-color-light-black: #25213B;
    --primary-color-brow:#cccccc;
    --primary-color-red:#D80101;
    --primary-color-dust: #C5C5C5;

    
}